<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Scheduler" class="lk.ac.ucsc.oms.scheduler.impl.Scheduler">
   </bean>
    <!--<bean id="Scheduler" class="lk.ac.ucsc.oms.scheduler.quartzImpl.SchedulerQuartImpl">-->
    <!--</bean>-->
</beans>