<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="MapperImpl" id="MapperImpl" class="lk.ac.ucsc.clientConnector.sync_async_mapper.impl.MapperImpl"
          scope="singleton">
        <property name="sleepTime" value="30000"/>
        <property name="maxNoOfRequests" value="10000000"/>
    </bean>
    <bean id="protMapper" class="lk.ac.ucsc.clientConnector.sync_async_mapper.impl.MapperImpl" scope="prototype"/>
</beans>