<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerManager"
          factory-bean="customerFactory"
          factory-method="getCustomerManager"/>

    <bean id="accountManager"
          factory-bean="customerFactory"
          factory-method="getAccountManager"/>

    <bean id="customerLoginManager"
          factory-bean="customerFactory"
          factory-method="getCustomerLoginManager"/>

    <bean id="cashManager"
          factory-bean="customerFactory"
          factory-method="getCashManager"/>

    <bean id="orderManager"
          factory-bean="orderFactory"
          factory-method="getOrderManagementFacadeInterface"/>

    <bean id="orderSearchManager"
          factory-bean="orderFactory"
          factory-method="getOrderSearchFacade"/>

    <bean id="customerFactory"
          class="lk.ac.ucsc.oms.customer.api.CustomerFactory"
          factory-method="getInstance"/>

    <bean id="orderFactory"
          class="lk.ac.ucsc.oms.orderMgt.api.OrderManagementFactory"
          factory-method="getInstance"/>

    <bean id="exchangeFactory"
          class="lk.ac.ucsc.oms.exchanges.api.ExchangeFactory"
          factory-method="getInstance"/>

    <bean id="symbolFactory"
          class="lk.ac.ucsc.oms.symbol.api.SymbolFacadeFactory"
          factory-method="getInstance"/>

    <bean id="fixConnectionFacade" factory-bean="fixConnectionFactory"
          factory-method="getFIXConnectionFacade"/>

    <bean id="stpConnector" class="lk.ac.ucsc.oms.stp_connector.api.STPConnectorFactory"
          factory-method="getInstance"/>

    <bean id="fixConnectionFactory" class="lk.ac.ucsc.oms.fixConnection.api.FIXConnectionFactory"
          factory-method="getInstance"/>

    <bean id="fixFacadeFactory" class="lk.ac.ucsc.oms.fix.api.FIXFacadeFactory"
          factory-method="getInstance"/>

    <bean id="sysConfigFactory" class="lk.ac.ucsc.oms.system_configuration.api.SystemConfigurationFactory"
          factory-method="getInstance"/>

    <bean id="rmsFactory"
          class="lk.ac.ucsc.oms.rms_equity.api.EquityRiskManagerFactory"
          factory-method="getInstance"/>

    <bean id="executionAuditRecordManager"
          factory-bean="orderFactory"
          factory-method="getExecutionAuditRecordManager"/>
</beans>