<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="requestConfigManager" class="lk.ac.ucsc.clientConnector.common.impl.RequestConfigManagerImpl">
        <property name="configBeanMap">
            <map>
                <entry key="2-3" value="node1"></entry>
            </map>
        </property>
    </bean>
    <bean id="dataSource"
          class="lk.ac.ucsc.clientConnector.common.api.DataSourceProvider"
          factory-method="getDataSource"/>

</beans>